:root {
  --primary-text-color: #212121;
  --primary-color: #2196f3;
  --main-div-1-bg-color: #2f303a;
  --main-div-1-color: #fff;
  --studio-button-text-color: #fff;
  --main-div-our-team-background-color: #f5f4fa;
  --our-team-member-background-color: #fff;
  --our-team-member-position-text-color: #757575;
  --footer-background: #2f303a;
  --footer-logo-color: #fff;
  --footer-adress-color: #fff;
  --portfolio-buttons-background-color: #f5f4fa;
  --portfolio-buttons-text-hover-color: #fff;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  width: 1600px;
  color: var(--primary-text-color);
}

.header-style {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.header-style > div {
  display: inline-block;
}
.header-style > nav {
  display: inline-block;
}
.header-style > nav > ul > li {
  display: inline-block;
}

.header-style > nav > ul > li > a:hover {
  color: var(--primary-color);
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--primary-color);
  margin-left: 215px;
  line-height: 3.076923076923077;
}
.logo > a {
  text-decoration: none;
}

.logo:hover {
  color: var(--primary-color);
}

.logo-black {
  color: black;
}

.header-style > nav > ul > li:first-child {
  margin-left: 93px;
}
.header-style > nav > ul > li:nth-child(2) {
  margin-left: 46px;
}
.header-style > nav > ul > li > a {
  text-decoration: none;
}
.header-style > nav > ul > li:nth-child(3) {
  margin-left: 64px;
}
.mail {
  margin-left: 353px;
}
.mail:hover {
  color: var(--primary-color);
}
.phone-number {
  margin-left: 50px;
}
.phone-number:hover {
  color: var(--primary-color);
}

.main-div-1 {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;

  background: var(--main-div-1-bg-color);
}

.main-div-1 > h1 {
  font-weight: 900;
  width: 696px;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--main-div-1-color);
}

.main-div-1 > button {
  width: 200px;

  background: var(--primary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button-name {
  width: 117px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  /* identical to box height, or 188% */

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--studio-button-text-color);
}

.our-advantages {
  margin-left: 215px;
  margin-right: 215px;
  margin-top: 94px;
}

.main-div-2 {
  width: 1600px;
  margin-top: 94px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-div-2 > h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.main-div-2-images {
  margin-top: 50px;
}

.main-div-2-images > img {
  margin-left: 15px;
  margin-right: 15px;
}

.main-div-3-our-team {
  background: var(--main-div-our-team-background-color);
  width: 1600px;
  margin-top: 94px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-div-3-our-team > h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.main-div-3-our-team-table {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 94px;
}

.main-div3-our-team-member {
  align-items: center;
  display: flex;
  flex-direction: column;
  background: var(--our-team-member-background-color);
  margin-left: 15px;
  margin-right: 15px;
}

.main-div3-our-team-member-name {
  margin-top: 30px;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
}

.main-div3-our-team-member-position {
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--our-team-member-position-text-color);
}

.footer-style {
  height: 252px;
  background: var(--footer-background);
  width: 1600px;
  display: flex;
  flex-direction: column;
}

.footer-logo {
  margin-top: 60px;
  margin-left: 215px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;
  color: var(--footer-logo-color);
}
.footer-logo-blueweb {
  color: var(--primary-color);
}
.footer-adress {
  margin-top: 30px;
  margin-left: 215px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--footer-adress-color);
}

.footer-adress:hover {
  color: var(--primary-color);
}

.footer-mail {
  margin-top: 9px;
  margin-left: 215px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-mail:hover {
  color: var(--primary-color);
}

.footer-telephone {
  margin-top: 9px;
  margin-left: 215px;
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.footer-telephone:hover {
  color: var(--primary-color);
}

.portfolio-buttons {
  list-style: none;
  align-items: center;
  display: flex;
  justify-content: center;
}

.portfolio-buttons > li {
  background: var(--portfolio-buttons-background-color);
  border-radius: 4px;
  margin-left: 4px;
  margin-right: 4px;
}

.portfolio-buttons > li > button:hover {
  background: var(--primary-color);
  color: var(--portfolio-buttons-text-hover-color);
}

.portfolio-buttons > li > button {
  padding: 6px 22px;
  font-weight: 500;
  cursor: pointer;
}
